/* STYLE SUR LE TEXTE A L'INTERIEUR DES SLIDERS*/

p {
	background-color: #F1F1F1;
	padding: 2%;
	font-size: 110%;
	text-align: justify;
}

/*STYLE SUR LE TEXTE QUI EST A L'EXTERIEUR DES SLIDERS */

.out p {
	background-color: #F1F1F1;
	padding: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 110%;
	text-align: justify;
}

/*STYLE SUR LES SOUS TITRES A L'EXTERIEUR DU SLIDER*/

.ex {
	padding: 2%;
}

/* SLIDE */

* {
	box-sizing: border-box
}

body {
	font-family: Verdana, sans-serif;
	margin: 0
}

.mySlides {
	display: none
}

img {
	vertical-align: middle;
}

/* CONTENU DU SLIDER */

.slideshow-container,
.slideshow-container-2 {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* BOUTONS PRECEDENT ET AVANT */

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 110%;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* METTRE LE BOUTON SUIVANT A DROITE */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* EFFET DE MOUVEMENT AU CHANGEMENT DE SLIDE */

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* TEXTE */

.text h2 {
	font-size: 120%;
	padding-bottom: 2%;
}

.text {
	color: black;
	font-size: 110%;
	padding: 8px 12px;
	position: absolute;
	bottom: 25px;
	margin-left: 2.5%;
	width: 95%;
	text-align: justify;
	background-color: #F1F1F1;
}

.text h2,
.text2 h2 {
	text-align: center;
}

.text2 {
	color: black;
	font-size: 110%;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	margin-left: 2.5%;
	width: 95%;
	text-align: justify;
	background-color: #F1F1F1;
}

/* NUMEROTATIONS DIAPOS */

.numbertext,
.numbertext-2 {
	color: #f2f2f2;
	font-size: 80%;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* INDICATEURS DIAPOS */

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* CHANGEMENT DE DIAPOS */

.fade,
.fade-2 {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/* ANIMATION SLIDES*/

@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
	.prev,
}

@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
	.text {
		font-size: 150%;
	}